body {
    margin: 0;
    background-color:#121521;
}
h1{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 400;
}
h2{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 46px;
    font-weight: 400;
}
h3{
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
p {
    color: #B2B2D3;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    width: 1241px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.flex-sb {
    justify-content: space-between;
}
.header__list-rp  {
    width: 706px;
    height: 140px;
    align-items: center;
}
.white-text {
    color: white;
}
.number-text {
    font-size: 20px;
}
.main-menu__lp {
    width: 530px;
    height: 380px;
    margin: 184px 0;
    flex-shrink: 0;
}
.large-p-text {
    font-size: 32px;
}
.main-menu__btns {
    margin-top: 100px;
    width: 440px;
}
.btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 0.08em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s ease;
}
.btn:focus {
    outline: none;
}
.purple-btn {
    background-color: #40467C;
    width: 176px;
}
.purple-btn:hover {
    background-color: #51578C;
}
.btn:active {
    background-color: #121521;
    border: 2px solid white;
}
.btn-two {
    width: 210px;
    background-color: #121521;
    border: 2px solid white;
}
.btn-two:active {
    background-color: white;
    color: black;
}
.purple-btn-two {
    background-color: #40467C;
    width: 60px;
}
.header-bg {
    height: 750px;
}
.section-cover {
    overflow: hidden;
}
.film-exp__video {
    width: 606px;
    height: 524px;
    justify-content: center;
    align-items: center;
    background-image: url(../images/expierense-pic.jpg);
    opacity: 0.6;
}
.film-exp {
    margin-bottom: 120px;
}
.film-exp__general {
    margin-top: 120px;
    width: 1242px;
    height: 524px;
    background-color: #1B213A;
    align-items: center;
}
.film-exp__rp {
    width: 576px;
    height: 414px;
    margin: 0 30px ;
}
.film-exp__rp h2 {
    margin: 0;
    margin-bottom: 30px;
    margin: auto 0;
}
.film-exp__blocks {
    grid-template-columns: 273px;
    grid-template-columns: repeat(2,2fr);
}
.film-exp__block {
    height: 105px;
    margin-bottom: 45px;
}
.purple-btn-three {
    width: 60px;
}

.arrows {
    align-items: center;
}
.location__white-btn {
    border: 2px solid #40467C;
    width: 60px;
    margin-right: 20px;
}
.location__white-btn:active {
    background-color: white;
}
.location__purple-btn {
    background-color: #40467C;
    width: 60px;
}
.locations__item {
    width: 400px;
    height: 500px;
}
.locations__item-mid {
    align-items: center;
}

.card {
    height: 394px;
    width: 394px;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0);
}
.card:hover {   
    opacity: 0.2; 
    color: white;
    transition: all 0.25s ease;
}

.card-one {
    background-image: url(../images/cardOne.jpg);
}
.card-two {
    background-image: url(../images/cardTwo.jpg);
}
.card-three {
    background-image: url(../images/cardThree.jpg);
}

.locations {
    margin-bottom: 120px;
}


.gallery__lp {
    align-items: center;
}
.gallery__lp h2 {
    margin-right: 30px;
}
.gallery__big-img {
    width: 600px;
    height: 630px;
    margin-right: 30px;
}
.gallery__min-img {
    width: 290px;
    height: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.gallery__img-rp {
    grid-template-columns: repeat(2,2fr);
}
.gallery {
    margin-bottom: 90px;
}


.drop-line__general {
    background-color: #1B213A;
}
.drop-line__field {
    background-color: #1B213A;
    width: 484px;
    height: 60px;
    border: 2px solid #40467C;
}
.drop-line__big-field {
    background-color: #1B213A;
    width: 484px;
    height: 126px;
    border: 2px solid #40467C;
}
.drop-line__field::placeholder {
    color: #B2B2D3;
}
.drop-line__big-field::placeholder {
    color: #B2B2D3;
}
.drop-line__field:active {
    border: 2px solid white;
}
.drop-line__big-field:active {
    border: 2px solid white;
}
input[type="text"] {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 500;
    color: white;
}
input[type="email"] {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    color: white;
}
.drop-line__rp {
    width: 640px;
    height: 640px;
}
.drop-line__rp {
    flex-direction: column;
    gap: 10px;
}
.drop-line__bp {
    align-items: center;
}
.drop-line__accept {
    align-items: center;
}
.drop-line__checkbox {
    width: 20px;
    height: 20px;
}
.drop-line {
    margin-bottom: 120px;
}

.footer__top {
    background-color: #121521;
    margin-bottom: 35px;
}
.footer__fiel::placeholder {
    padding-left: 20px;
    color: #B2B2D3;
}
.footer__field {
    background-color: #121521;
    width: 240px;
    height: 60px;
    border: rgba(0, 0, 0, 0);
}
.footer__field-border {
    align-items: center;
    height: 72px;
    border: 2px solid #40467C;
}
.footer__field:active {
    border: rgba(0, 0, 0, 0);
}
.footer__top-general {
    align-items: center;
}




.footer__bot {
    background-color: #1B213A;
}
.footer__bot-general {
    height: 130px;
    align-items: center;
}
.footer__bot-img {
    margin-right: 10px;
}